@import "config";

#nav-bar {
  background: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-menu {
    display: flex;
  }
  .left-menu a,
  i,
  h1,
  .logo a {
    font-size: 1.2rem;
    color: #fff;
    transition: 0.4s ease all;
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
  h1,
  .logo a {
    font-size: 2rem;
  }
  #favorites {
    position: relative;
    z-index: 10;
    .beer-container {
      border: 1px solid #333;
      background: #fff;
      color: #333;
      overflow: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 300px;
      max-height: 400px;
      transform: translateY(calc(100% + 5px));
      display: none;
      .beer {
        position: relative;
        height: 200px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.2rem;
        &:last-child {
          border-bottom: none;
        }
      }
      .photo {
        width: 30%;
        margin-top: 0;
        height: 100%;
        img {
          height: 100%;
        }
      }
      .disc {
        width: 70%;
        height: 100%;
        margin-top: 10px;
        i {
          color: red;
          position: absolute;
          top: 0px;
          right: 0px;
        }
      }
    }
    &::after {
      content: "";
      border-bottom: 8px solid #000;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
    &:hover {
      .beer-container {
        display: block;
      }
    }
    &:hover::after {
      display: block;
    }
  }
}

#search-bar {
  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    #search {
      display: block;
      width: 50%;
      border: 1px solid #1e91d6;
      border-radius: 5px;
      padding: 1rem;
      margin-right: 1rem;
      outline: none;
    }
  }
}

#beers {
  z-index: 9;
  .beer-container {
    flex-direction: row;
    flex-wrap: wrap;
    .wrapper {
      width: 33.333%;
      z-index: 1;
      position: relative;
      .fav-icon {
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 10;
        i {
          color: $dark;
          cursor: pointer;
          background: transparent;
          transition: all 0.4s ease;
          position: relative;
          font-size: 1.2rem;
          text-shadow: 1px 0px 1px #000;
          &:hover {
            color: $blue;
            text-shadow: 1px 0px 1px $blue;
          }
        }
      }
      .beer {
        box-shadow: 0px 4px 6px 0px rgba(#000, 0.3);
        cursor: pointer;
        .title {
          margin-top: 20px;
        }
      }
    }
  }
}

#nav-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  .prev,
  .next {
    padding: 0.5rem 1rem;
  }
  .prev {
    display: none;
  }
}

#beer-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(#000, 0.4);
  width: 100%;
  z-index: -1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  .exit {
    position: absolute;
    z-index: 11;
    top: 16%;
    right: 18%;
    i {
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        color: $dark-grey;
      }
    }
  }
  .beer-container {
    width: 70%;
    height: 70%;
    overflow: auto;
    position: relative;
    transform: translateX(-50%, -50%);
    background: #fff;
    .wrapper {
      width: 100%;
      .beer {
        width: 100%;
        z-index: 1;
        .photo {
          width: 15%;
        }
        .disc {
          height: 100%;
          width: 85%;
          h4 {
            padding: 0.5rem 0.2rem;
          }
          ul {
            padding: 0 0.5rem;
          }
          p {
            padding: 0.5rem 0.5rem 0 0.5rem;
          }
        }
      }
    }
  }
}

.fadein {
  animation-name: fade-in;
  animation-duration: 0.4s;
  opacity: 1 !important;
  z-index: 10 !important;
}
.fadeout {
  animation-name: fade-out;
  animation-duration: 0.4s;
  opacity: 0 !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
