@import 'config';
// Utility classes

* {
  margin: 0;
  padding: 0;
  font-family: 'Solway', sans-serif;
}
body {
  max-width: $website-width;
  line-height: 1.5rem;
}
ul {
  list-style: none;
  text-decoration: none;
}
.list li {
  border-bottom: 1px dotted $dark-color;
  line-height: 1.7rem;
}

a{
  text-decoration: none;
  color: $light-color;
  &:hover {
    color: $light-color;
    background: $main-color;
    transition: all 0.2s ease-in-out;
  }
}
.dist-word {color: $dist-color;}

.button {
  padding: 1rem 3rem;
  margin: 1rem 0;
  border-radius: 3%;
}
.button-light {
  background: $light-color;
  color: $dark-color;
}
.button-dark {
  background: $dark-color;
  color: $light-color;
}

.container {
  max-width: 1080px;
  height: 100%;
  padding: 0 2 rem;
  margin: auto;
}

.bg-light { background: $light-color;}
.bg-dark {background: $dark-color;}

h1,h2,h3 { color: $light-color;}

.p1 {padding: 1rem 1rem;}
.p2 {padding: 2rem 2rem;}
.p3 {padding: 3rem 3rem;}

#navbar {
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px $light-color;

  h2{
    margin-left: 2rem;
  }
  ul {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: $light-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Showase
#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  width: 100%;
  height: 92vh;
  margin-top: 8vh;
  .showcase-content {
    background: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .data{
      width: 100%; height: 50%;
      display: flex;
      justify-content: space-around;
      .online-order {
        flex: 2;
        margin: 3rem 0;
        max-width: 300px;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          display: inline-block;
        }
        .button {
          padding: .5rem 4rem;
        }
      }
      .local-data{
        flex: 1;
        margin-top: 3rem;
        max-width: 300px;
        max-height: 200px;
        border: 3px dotted $light-color;
        border-radius: 20%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {color: $mid-color;}
        h3 span {font-size: 1.5rem; color: $light-color;}
      }
    }
    .showcase-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        display: inline-block;
        margin-top: 2rem;
      }
    }
  }
}

// About
#about{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  h1, h2 { 
    color: $dark-color;
    text-align: center;
    margin-bottom: 1rem;
  }
  h2 {
    margin: 1rem 0;
  }
  .about-content{
    display: flex;
    .photo{
      background: url('../img/restaurant.jpg') no-repeat center center/cover;
      min-width: 690px;
      min-height: 400px;
    }
    .about-info {
      padding: 0 2rem;
    }
  }
}


// Opinions
#opinions {
  h1, h2, h3 {
    text-align: center;
    color: $dark-color;
  }
  h1{
    margin: 2rem 0;
    color: $light-color;
  }
  background: url('../img/opinion.jpg') no-repeat center center/cover;
  .opinions-content{
    width: 100%; height: 100%;
    background: rgba($color: $dark-color, $alpha: 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list .opinion {
    margin: 0 auto;
    background: $teri-color;
    max-width: 70%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    .profil-img {
      display: flex;
      flex-direction: column;
      img {
        border-radius: 50%;
        display: inline-block;
      }
    }
    .message {
      padding: 1rem;
      color: $dark-color;
      height: 100%;
      max-width: 100%;
    }
  }
}

// Footer

#main-footer {
  background: $light-color;
  h1,h2,h3 {
    color: $dark-color;
    margin: 1rem 0;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      flex: 1;
      padding: 1rem;
    }
    .logo {
      flex: 2;
      min-width: 200px;
      min-height: 200px;
      background: url('../img/logo.png') no-repeat center center/cover;
    }
    .other-inf {
      margin-top: 2rem;
      a {
        padding: 1rem 1rem !important;
      }
    }
  }
}

// SubFooter
#sub-footer {
  h2 {
    color: $light-color;
    background: $dark-color;
    font-size: .8rem;
    padding: 0.5rem;
  }
  text-align: center;
}
// Menu
.showcase-menu {
  height: 100% !important;
}
#menu {
  width: 100%;
  padding: 1rem 0;
  .menu-container {
    width: 100%;
    height: 100%;
  }
  p {font-size: 0.8rem;}
  h4 {color: $light-color;}
  h2{
    margin-bottom: 2rem;
    text-align: center;
    background: rgba(238, 238, 238,0.3);
    padding: .5rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      padding: .5rem;
      text-align: left;
      border-bottom: 1px solid $mid-color;
    }
    td {border: none;}
    td {color: $mid-color;}
    tr:nth-child(even) {
      background-color: rgba(238, 238, 238,0.2);
      
    }
    tr td:nth-child(2),tr td:nth-child(3), th:nth-child(2),th:nth-child(3){
      text-align: center ;
    }
  }
}

// Contact
.showcase-contact {
  height: 100% !important;
  padding-bottom: 2rem;
  h2{
    margin: 2rem 0;
    text-align: center;
    background: rgba(238, 238, 238,0.3);
    padding: .5rem 0 ;
  }
  .container {
    width: 100%;
    height: 100%;
    .contact-content-container{
      display: flex;
      flex-direction: column;
    }
    .contact-container {
      display: flex;
      justify-content: space-between;
      h3 {color: $light-color;}
      p{color: $mid-color;}
    }
    .map{
      min-height: 300px;
      background: url('/dist/img/map.PNG') no-repeat center center/cover;
    }
  }
}

// Media smartphone
@media screen and (max-width: 500px) {
  #navbar {
    h2{
      margin-left: 1rem;
    }
  }

  #showcase {
    .data {
      flex-direction: column;
      justify-content: initial;
      align-items: center;
    }
    .showcase-header {
      h1 {
        text-align: center;
        line-height:3rem;
      }
    }
  }

  #about {
    .photo{
      display: none;
    }
  }

  #opinions {
    .opinion {
      flex-direction: column;
      max-width: 100% !important;
    }
  }
  #main-footer {
    .footer-content {
      flex-direction: column;
    }
  }

  // Contact
  .showcase-contact {
    .container {
      width: 90%;
      max-width: 90vh;
    }
    .contact-container {
      flex-direction: column;
      padding: 0 !important;
      margin-bottom: 1rem;
    }
    .map {
      height: 30vh !important;
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  #showcase {
    .data {
      .local-data{
        margin-bottom: 1rem;
        margin-top: 2rem !important;
      }
    }
  }

  #about {
    .photo{
      display: none;
    }
  }
  #opinions {
    .opinion {
      flex-direction: column;
      max-width: 100% !important;
    }
  }
  #main-footer {
    
    .footer-content {
      flex-direction: column;
    }
  }
}