body {
  background: url("../img/background.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  .wrapper {
    background: #24323d;
    .change-btns {
      display: flex;
      width: 100%;
    }
    form {
      transition: all 0.4s ease;
      h1,
      input {
        color: #fff;
      }
      h1 {
        text-align: center;
        font-family: "Bebas+Neue", sans-serif;
      }
      .input {
        position: relative;
        margin-bottom: 1.5rem;
        label {
          color: rgb(173, 173, 173);
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          transition: all 0.5s ease;
          pointer-events: none;
          &::after {
            content: "*";
            color: #1ab188;
            margin-left: 2px;
          }
        }
        input {
          border: 1px solid #ccc;
          background: #24323d;
          width: 100%;
          &::-webkit-input-placeholder {
            color: rgb(173, 173, 173);
          }
          &:focus,
          &:valid {
            border-color: #1ab188;
            outline: none;
          }
        }
      }
      button {
        font-size: 1.5rem;
        font-family: "Bebas+Neue", sans-serif;
        letter-spacing: 2px;
        width: 100%;
      }
      p {
        text-align: right;
        padding: 0.3rem 0;
      }
    }
    #login {
      opacity: 0;
      display: none;
    }
  }
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 0.4s;
  opacity: 1 !important;
}
.fadeOut {
  animation: fadeOut;
  animation-duration: 0.4s;
  opacity: 0 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 95%;
    padding: 0;
    .change-btns a {
      width: 50%;
      padding: 1rem 2rem;
    }
    form h1 {
      font-size: 1.7rem;
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  body {
    height: auto !important;
  }
}
