@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #d4eafd;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credit_card,
form {
  box-shadow: 0 20px 30px 10px rgba(#a0adc1, 1);
}
.credit_card {
  background: url("../img/cardbackground.jpeg") no-repeat center/cover;
  width: 100%;
  border-radius: 10px;
  position: relative;
  top: 7rem;
  padding: 1.5rem;
  max-height: 250px;
  min-height: 200px;
  min-width: 400px;
  max-width: 350px;
  color: #fff;
  font-family: "Source Code Pro";

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(#000, 0.5);
    z-index: 1;
    border-radius: 10px;
  }
  & * {
    z-index: 2;
    position: relative;
  }

  .chip img {
    height: 35px;
    width: 40px;
  }

  .card_name {
    position: absolute;
    padding: 1.5rem;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    img {
      width: 30%;
    }
  }

  .card_numbers {
    display: flex;
    padding: 2rem 0;
    justify-content: space-around;
    overflow: hidden;
    .card_number {
      font-weight: 500;
      font-size: 1.3rem;
      letter-spacing: 0px;
      display: flex;
    }
  }

  .card_holder,
  .expiry_date {
    display: inline-block;
    font-size: 12px;
    label {
      color: #ccc;
    }
    p {
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  .expiry_date {
    position: absolute;
    right: 0;
    padding-right: 1.5rem;
  }
}

form {
  padding: 2rem;
  padding-top: 10rem;
  background: #fff;
  border-radius: 10px;
  input[type="text"] {
    width: 100%;
    padding: 1rem;
    margin: 5px 0 10px 0;
    &:focus {
      border-color: #0055d4;
    }
  }
  label {
    font-size: 14px;
    padding: 5px 0;
  }
  input,
  select {
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #ccc;
    transition: 0.2s ease;
    padding: 1rem;
    font-size: 16px;
    position: relative;
    z-index: 3;
    &:focus {
      border-color: #0055d4;
      box-shadow: 0 4px 4px -2px rgba(#000, 0.4);
    }
  }
  select {
    padding: 1rem 1.5rem;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .cvv,
  .expiration_date {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .expiration_date {
    width: 70%;
    select {
      width: 45%;
    }
  }
  .cvv {
    width: 30%;
    input {
      margin: 0;
    }
  }

  button {
    width: 100%;
    padding: 1rem 0;
    background: #0055d4;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}

.fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: -20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
