#main-header {
  height: 10vh;
  border-bottom: 1px solid #ccc;
  .container {
    height: 100%;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo, form, menu-basket {
      display: flex;
      align-items: center;
    }
    .logo, form {
      margin-top: 1rem;
    }
    form {
      text-align: right;
      div{
        width: 300px;
        display: block;
        margin: 0 auto;
        position: relative;
      }
      input[type="text"] {
        width: 100%;
        border: 1px solid #666;
        border-radius: 1.2rem 1.2rem;
        padding: .4rem 2.4rem .4rem 1.2rem;
        color: #666;
        height: 40px;
        outline: none;
      }
      button {
        border: none;
        background: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        font-size: 1.4rem;
        height: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        &:hover {
          i {
            color: #ccc;
          }
        }
      }
    }
    .menu-basket {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      .link-wrapper {
        padding: 0 1rem;
        height: 100%;
        position: relative;
        a {
          display: flex;
          height: 100%;
          flex-direction: column;
          i {
            font-size: 2.5rem;
            text-align: center;
            padding: .6rem 0;
          }
          .header-discription-element {
            font-size: 12px;
          }
        }
        .cart {
          display: none;
          position:absolute;
          top: calc(10vh - 1px);
          right: 0;
          width: 300px;
          background: #fff;
          z-index: 101;
          border: 1px solid #ccc;
          border-top: 1px solid #000;
          box-shadow: 0 1px 3px rgba(#000, 0.15), 0 1px 2px rgba(#000, 0.15);
          h3 {
            text-align: center;
            padding: 1rem;
            background: #eee;
            border-bottom: 1px solid #ccc;
          }
          .cart-items-container {
            max-height: 400px;
            overflow: auto;
          }
          .cart-item {
            display: flex;
            padding: .5rem;
            .photo {
              width: 30%;
              height: 120px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .disc {
              width: 70%;
              padding: .5rem;
              p {font-size: 1rem;}
              .details {
                display: flex;
                padding: .5rem 0;
                font-size: 1rem;
                .order-details {
                  display: flex;
                  flex-direction: column;
                  font-size: .7rem;
                  width: 50%;
                }
                .price {
                  text-align: right;
                  width: 50%;
                  position: relative;
                  font-weight: 600;
                  span {
                    position: absolute;
                    bottom: 0;
                    right: 0;                
                  }
                }
              }
            }
          }
          .summary {
            border-top: 1px solid #ccc;
            padding: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            .summary-disc {
              font-size: .7rem;
              padding: .6rem 0;
              font-weight: bold;
              text-transform: uppercase;
              line-height: 1.1rem;
              .price-disc {
                display: flex;
                justify-content: space-between;
              }
            }
            hr {
              width: 100%;
              color: #ccc;
            }
            .total-amount {
              padding: 1rem 0;
              font-weight: bold;
              font-size: 1.1rem;
              display: flex;
              justify-content: space-between;
            }
            a {
              text-align: center;
              padding: 1rem;
              background: #000;
              color: #fff;
              cursor: pointer;
              font-size: .9rem;
              text-transform: uppercase;
              transition: all .2s ease;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
        &::after {
          content: '';
          display: none;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 8px solid #000;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
        &:hover {
          .cart, &:hover::after {
            display: block;
          }
        }
      }
    }
    .burger {
      display: none;
      position: absolute;
      top: 10%;
      left: 1rem; 
      div {
        transition: all 0.5s ease-in-out;
      }
      .line-1, .line-2, .line-3 {
        width: 2.5rem;
        height: 3px;
        background: #666;
        margin: 10px 0;
      }
    }
  }
}

#menu {
  height: 8vh;
  position: relative;
  border-bottom: 1px solid #ccc;
  .links {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    height: 100%;
    position: relative;
    li {
      padding: 1rem 0;
    }
    a:hover {
      opacity: .7;
      position: relative;
      border-bottom: 1px solid #000;
    }
    .sub-menu {
      overflow: hidden;
      background: #eee;
      max-height: 0px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 5vh;
      z-index: 100;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .sub-menu-links {
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        h3 {
          font-size: .9rem;
        }
        li {
          padding: .3rem .4rem;
          font-size: .7rem;
          height: 100%;
        }
      }
      &:hover {
        .sub-menu {
          max-height: 900px;
        }
      }
    }
    .active-menu {
      box-shadow: 0 1px 2px 0px #000;
      transition: max-height 1s ease;
      max-height: 1000px;
    }
  }
  & > li a {
    &::after {
      display: block;
      content: '';
      width: 100%;
      border: 1px solid black;
    }
  }
}

#mobile-menu {
  display: none;
  height: 90vh;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 10vh;
  left: 0;
  transform: translateX(-100%);
  line-height: 4rem;
  font-size: 1.3rem;
  font-weight: 550;
  border-top: 1px solid #000;
  transition: all .4s ease;
  .list {
    width: 70%;
    height: 100%;
    background: #fff;
    padding: 2rem;
  }
  .extender {
    width: 30%;
    height: 100%;
    background: rgba(#000, 0.6);
    position: absolute;
    right: 0;
    top: 0;
  }
  .sub-menu {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .4s ease;
    a{
      font-size: 1rem;
      line-height: 2rem;
    }
  }
  .active {
    height: 150px !important;
  }
}

#slider {
  height: 50vh;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  &:hover {
    .next-slide, .prev-slide {
      width: 5%;
      i {
        transform: translateX(0%);
      }
    }  
  }
  .slide-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 1s ease;
      opacity: 0;
    }
    .showing {
      opacity: 1;
      z-index: 2;
    }
  }
  .next-slide, .prev-slide {
    width: 2%;
    height: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
    background: rgba($color: #000000, $alpha: .6);
    transition: all 0.4s ease;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    i {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      color: #fff;
      transition: .5s ease all;
      z-index: 10;
    }
    &:hover {
      background: rgba(#000, 1);
    }
  }
  .next-slide {
    right: 0;
    i{transform: translateX(-150%);}
  }
  .prev-slide {
    left: 0;
    i{transform: translateX(150%);}
  }
  .buttons {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 5rem;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    .dot {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin: 0 auto;
      background: #ccc;
      cursor: pointer;
    }
    .active {
      background: #fff;
    }
  }
}

#showcase {
  width: 100%;
  .sale {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(#000, 0.4);
      position: absolute;
      opacity: 0;
      z-index: 9;
      transition: all 0.4s ease;
    }
    &:hover::after {
      opacity: 1;
    }
    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100;
      height: 100%;
      padding: 1rem;
      font-size: 1.7rem;
      color: #fff;
      text-align: center;
      background: rgba(#000, .3);
      z-index: 10;
      h1 {
        padding: .5rem;
        border: 1px solid #fff;
      }
    }
  }
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(8, 25vh);
    grid-gap: 1rem;
    align-items: start;
    justify-items: center;
    .sale-1 {
      background: url('../img/showcase-small.jpg') no-repeat center center/cover;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .sale-2 {
      background: url('../img/showcase-small.jpg') no-repeat center center/cover;
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .sale-3 {
      background: url('../img/showcase-big.jpg') no-repeat center center/cover;
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .sale-4 {
      background: url('../img/showcase-small.jpg') no-repeat center center/cover;
      grid-row-start: 5;
      grid-row-end: 7;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .sale-5 {
      background: url('../img/showcase-small.jpg') no-repeat center center/cover;
      grid-row-start: 7;
      grid-row-end: 9;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .sale-6 {
      background: url('../img/showcase-big.jpg') no-repeat center center/cover;
      grid-row-start: 5;
      grid-row-end: 9;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .sale-3, .sale-6 {
      .header {
        justify-content: flex-start;
      }
    }
  }
  .sale-7 {
    width: 100%;
    height: 450px;
    border: none;
    margin-top: 1rem;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#news {
  width: 100%;
  h1{text-align: center;}
  .container {
    overflow: hidden;
    position: relative;
  }
  .items-container{
    display: flex;
    position: relative;
    left: 0px;
    transition: all 0.7s ease;
    .item {
      display: flex;
      flex-direction: column;
      min-width: 235px;
      padding: .5rem; 
      .photo {
        height: 250px;
        img{ 
          width: 100%;
          height: 100%;
        }
      }
      .disc {
        display: flex;
        .name{
          width: 70%;
          text-align: left;
          h3{text-transform: initial;}
        }
        .price{
          width: 30%;
          text-align: right;
        }
      }
    }
  }
  .buttons {
    .next, .prev {
      width: 50px;
      height: 50px;
      position: absolute; 
      bottom: 20%;
      background: rgba(#fff, .6);
      border-radius: 50%;
      cursor: pointer;
      i {
        font-size: 2rem;
        color: #000;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background: #fff;
      }
    }
    .next {
      right: 15px;
      bottom: 20%;
    }
    .prev {
      left: 10px;
    }
  }
}

#footer {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      padding: 0 1rem;
      h3,h5 {
        line-height: 1.6rem;
      }
      a:hover {
        opacity: .7;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      span {
        font-size: 1.6rem;
        font-style: italic;
      }
      i {
        font-size: 1.7rem;
        margin: 0 .5rem;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
          opacity: .7;
        }
      }
      .social-media {
        text-align: center;
      }
    }
  }
}


@media screen and (max-width: 550px) {
  #main-header {
    height: auto;
    border: none;
    .header-wrapper {
      flex-direction: column;
      .menu-basket{
        width: 100%;
        justify-content: flex-end;
        position: relative;
        z-index: 20;
        background: #fff;
        height: 10vh;
        .burger {
          display: initial;
        }
        .toggle{
          .line-1 {transform: rotate(-45deg) translate(-10px, 8px);}
          .line-2 {opacity: 0;}
          .line-3 {transform: rotate(45deg) translate(-10px, -8px);}
        }
        .link-wrapper {
          .header-discription-element {
            display: none;
          }
        }
      }
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    }
  }

  #menu {
    display: none;
  }

  .toogle-menu{
    transform:translateX(0%) !important;
  }
  .triangle {
    &::after {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; 
      border-bottom: 7px solid black;
      position: absolute;
      bottom: 0;
      left: 1.7rem;
    }
  }
  #mobile-menu {
    display: block;
  }

  #slider {
    margin-top: 0;
    .prev-slide, .next-slide {
      display: none;
    }
  }

  #showcase {
    .showcase-content {
      grid-template-rows: repeat(16, 25vh);
      .sale {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .sale-3 {
        grid-row-start: 5;
        grid-row-end: 9;
      }
      .sale-4 {
        grid-row-start: 9;
        grid-row-end: 11;
      }
      .sale-5 {
        grid-row-start: 11;
        grid-row-end: 13;
      }
      .sale-6 {
        grid-row-start: 13;
        grid-row-end: 17;
      }
    }
    .sale-7 {
      height: 200px;
    }
  }
  #news {
    max-width: 100vw;
    .item{
      min-width: 100% !important;
      .photo {
        height: 300px !important;
      }
    }
  }
  #footer {
    div:not(.social-media) {
      padding: 1rem;
      width: 100%;
    }
    .social-media {
      text-align: left !important;
      padding-top: 1rem;
    }
  }
}

// Landscape
@media screen and (min-width: 551px) and (max-width: 830px) {
  #main-header {
    height: 50vh;
    border: none;
    .container {
      height: 100%;
    }
    .header-wrapper {
      flex-direction: column;
      margin-top: 0;
      height: 100%;
      form {
        margin-top: 0;
      }
      .menu-basket{
        width: 100%;
        height: 20vh;
        justify-content: flex-end;
        position: relative;
        z-index: 20;
        background: #fff;
        .burger {
          display: initial;
        }
        .toggle{
          .line-1 {transform: rotate(-45deg) translate(-10px, 8px);}
          .line-2 {opacity: 0;}
          .line-3 {transform: rotate(45deg) translate(-10px, -8px);}
        }
        .link-wrapper {
          .header-discription-element {
            display: none;
          }
        }
      }
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    }
  }

  #menu {
    display: none;
  }

  .toogle-menu{
    transform:translateX(0%) !important;
  }
  .triangle {
    &::after {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; 
      border-bottom: 7px solid black;
      position: absolute;
      bottom: 0;
      left: 1.7rem;
    }
  }
  #mobile-menu {
    display: block;
    top: 20vh;
  }

  #slider {
    margin-top: 0;
    height: 80vh;
    .prev-slide, .next-slide {
      display: none;
    }
  }

  #showcase {
    .showcase-content {
      grid-template-rows: repeat(16, 50vh);
      .sale {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .sale-3 {
        grid-row-start: 5;
        grid-row-end: 9;
      }
      .sale-4 {
        grid-row-start: 9;
        grid-row-end: 11;
      }
      .sale-5 {
        grid-row-start: 11;
        grid-row-end: 13;
      }
      .sale-6 {
        grid-row-start: 13;
        grid-row-end: 17;
      }
    }
    .sale-7 {
      height: 200px;
    }
  }
  #news {
    max-width: 100vw;
    .item{
      min-width: 50% !important;
      .photo {
        height: 300px !important;
      }
    }
  }
  #footer {
    div:not(.container) {
      padding: 1rem;
      width: 50%;
    }
    .container {
      width: 100%;
    }
    .social-media {
      text-align: left !important;
      padding-top: 1rem;
    }
  }
}



// Filters 

#item-showcase {
  padding: 1rem;
  .container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  .filters {
    width: 20%;
    .filter {
      display: flex;
      flex-direction: column;
      h4 {
        padding: 1rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      .filter-type {
        padding: 1rem;
        line-height: 1.5rem;
        .filter-list li label {
          padding: 0 .5rem;
          cursor:pointer;
          user-select: none;
        }
        .filter-list input[type="checkbox"] {
          cursor: pointer;
        }
      }
      button {
        outline: none;
        cursor: pointer;
        text-align: right;
        padding-bottom: .5rem;
      }
      input[type="range"] {
        padding: .5rem 0;
      }
      .price-tags {
        display: flex;
        justify-content: space-between;
        padding-bottom: .5rem;
        #max-price {
          text-align: center;
          width: 30px;
          border: none;
          outline: none;
          font-size: 1rem;
        }
      }
    }
  }
  .items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 3rem;
    .item {
      min-width: 250px;
      max-height: 470px;
      padding-bottom: 3rem;
      margin-bottom: 1rem;
      position: relative;
      .photo {
        max-width: 250px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .disc {
        display: flex;
        cursor: pointer;
        .name{
          width: 70%;
          text-align: left;
          h3{text-transform: initial;}
        }
        .price{
          width: 30%;
          text-align: right;
        }
      }
      .add-btn {
        opacity: 0;
        transition: all .2s ease;
        bottom: 0px;
        width: 100%;
        padding: .5rem 0;
        background: #fff;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        cursor: initial;
        .size-list {
          width: 50%;
          display: flex;
          justify-content: space-around;
          padding: .5rem 0;
          input[type="checkbox"], label {
            cursor: pointer;
          }
        }
        button {
          padding: .5rem;
          background: #000;
          color: #fff;
          transition: all .3s ease;
          cursor: pointer;
          float: right;
          &:hover {
            background: #2222EC;
          }
        }
      }
      &:hover {
        .add-btn {
          opacity: 1;
        }
      }
    }
  }
}
