#main-header {
  height: 10vh;
  border-bottom: 1px solid #ccc;
  .container {
    height: 100%;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo,
    form,
    menu-basket {
      display: flex;
      align-items: center;
    }
    form {
      text-align: right;
      div {
        width: 300px;
        display: block;
        margin: 0 auto;
        position: relative;
      }
      input[type="text"] {
        width: 100%;
        border: 1px solid #666;
        border-radius: 1.2rem 1.2rem;
        padding: 0.4rem 2.4rem 0.4rem 1.2rem;
        color: #666;
        height: 40px;
        outline: none;
      }
      button {
        border: none;
        background: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        font-size: 1.4rem;
        height: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        &:hover {
          i {
            color: #ccc;
          }
        }
      }
    }
    .menu-basket {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      .link-wrapper {
        padding: 0 1rem;
        height: 100%;
        position: relative;
        a {
          display: flex;
          height: 100%;
          flex-direction: column;
          i {
            font-size: 2.5rem;
            text-align: center;
            padding: 0.6rem 0;
          }
          .header-discription-element {
            font-size: 12px;
          }
        }
        .items-count {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 5px;
          right: 0;
          background: #2222ec;
          color: #fff;
          padding: 0.1rem;
          border-radius: 50%;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .cart {
          display: none;
          position: absolute;
          top: calc(10vh - 1px);
          right: 0;
          width: 300px;
          background: #fff;
          z-index: 101;
          border: 1px solid #ccc;
          border-top: 1px solid #000;
          box-shadow: 0 1px 3px rgba(#000, 0.15), 0 1px 2px rgba(#000, 0.15);
          h3 {
            text-align: center;
            padding: 1rem;
            background: #eee;
            border-bottom: 1px solid #ccc;
          }
          .cart-items-container {
            max-height: 400px;
            overflow: auto;
          }
          .cart-item {
            display: flex;
            padding: 0.5rem;
            .photo {
              width: 30%;
              height: 120px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .disc {
              width: 70%;
              padding: 0.5rem;
              p {
                font-size: 1rem;
              }
              .details {
                display: flex;
                padding: 0.5rem 0;
                font-size: 1rem;
                .order-details {
                  display: flex;
                  flex-direction: column;
                  font-size: 0.7rem;
                  width: 50%;
                }
                .price {
                  text-align: right;
                  width: 50%;
                  position: relative;
                  font-weight: 600;
                  span {
                    bottom: 0;
                    right: 0;
                  }
                }
              }
            }
          }
          .summary {
            border-top: 1px solid #ccc;
            padding: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            .summary-disc {
              font-size: 0.7rem;
              padding: 0.6rem 0;
              font-weight: bold;
              text-transform: uppercase;
              line-height: 1.1rem;
              .price-disc {
                display: flex;
                justify-content: space-between;
              }
            }
            hr {
              width: 100%;
              color: #ccc;
            }
            .total-amount {
              padding: 1rem 0;
              font-weight: bold;
              font-size: 1.1rem;
              display: flex;
              justify-content: space-between;
            }
            a {
              text-align: center;
              padding: 1rem;
              background: #000;
              color: #fff;
              cursor: pointer;
              font-size: 0.9rem;
              text-transform: uppercase;
              transition: all 0.2s ease;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
        &::after {
          content: "";
          display: none;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 8px solid #000;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
        &:hover {
          .cart,
          &:hover::after {
            display: block;
          }
        }
      }
    }
    .burger {
      display: none;
      position: absolute;
      top: 10%;
      left: 1rem;
      div {
        transition: all 0.5s ease-in-out;
      }
      .line-1,
      .line-2,
      .line-3 {
        width: 2.5rem;
        height: 3px;
        background: #666;
        margin: 10px 0;
      }
    }
  }
}

#menu {
  height: 8vh;
  position: relative;
  border-bottom: 1px solid #ccc;
  .links {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    height: 100%;
    position: relative;
    li {
      padding: 1rem 0;
    }
    a:hover {
      opacity: 0.7;
      position: relative;
    }
    .sub-menu {
      overflow: hidden;
      background: #eee;
      max-height: 0px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 5vh;
      z-index: 100;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .sub-menu-links {
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        h3 {
          font-size: 0.9rem;
        }
        li {
          padding: 0.3rem 0.4rem;
          font-size: 0.7rem;
          height: 100%;
        }
      }
      &:hover {
        .sub-menu {
          max-height: 900px;
        }
      }
    }
    .active-menu {
      box-shadow: 0 1px 2px 0px #000;
      transition: max-height 1s ease;
      max-height: 1000px;
    }
  }
  & > li a {
    &::after {
      display: block;
      content: "";
      width: 100%;
      border: 1px solid black;
    }
  }
}

#mobile-menu {
  display: none;
  height: 90vh;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 10vh;
  left: 0;
  transform: translateX(-100%);
  line-height: 4rem;
  font-size: 1.3rem;
  font-weight: 550;
  border-top: 1px solid #000;
  transition: all 0.4s ease;
  .list {
    width: 70%;
    height: 100%;
    background: #fff;
    padding: 2rem;
  }
  .extender {
    width: 30%;
    height: 100%;
    background: rgba(#000, 0.6);
    position: absolute;
    right: 0;
    top: 0;
  }
  .sub-menu {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    a {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
  .active {
    height: 150px !important;
  }
}

#slider {
  height: 60vh;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  &:hover {
    .next-slide,
    .prev-slide {
      width: 5%;
      i {
        transform: translateX(0%);
      }
    }
  }
  .slide-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 1s ease;
      opacity: 0;
    }
    .showing {
      opacity: 1;
      z-index: 2;
    }
  }
  .next-slide,
  .prev-slide {
    width: 2%;
    height: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
    background: rgba($color: #000000, $alpha: 0.6);
    transition: all 0.4s ease;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    i {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      color: #fff;
      transition: 0.5s ease all;
      z-index: 10;
    }
    &:hover {
      background: rgba(#000, 1);
    }
  }
  .next-slide {
    right: 0;
    i {
      transform: translateX(-150%);
    }
  }
  .prev-slide {
    left: 0;
    i {
      transform: translateX(150%);
    }
  }
  .buttons {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 5rem;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    .dot {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin: 0 auto;
      background: #ccc;
      cursor: pointer;
    }
    .active {
      background: #fff;
    }
  }
}

#showcase {
  width: 100%;
  .sale {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover::after {
      opacity: 1;
    }
    a {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(#000, 0.4);
        position: absolute;
        opacity: 0;
        z-index: 9;
        transition: all 0.4s ease;
      }
      &:hover::after {
        opacity: 1;
      }
    }
    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100;
      height: 100%;
      padding: 1rem;
      font-size: 1.7rem;
      color: #fff;
      text-align: center;
      background: rgba(#000, 0.3);
      z-index: 10;
      h1 {
        padding: 0.5rem;
        border: 1px solid #fff;
      }
    }
  }
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(8, 25vh);
    grid-gap: 1rem;
    align-items: start;
    justify-items: center;
    .sale-1 {
      background: url("../img/showcase-small.jpg") no-repeat center center/cover;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .sale-2 {
      background: url("../img/showcase-small.jpg") no-repeat center center/cover;
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .sale-3 {
      background: url("../img/showcase-big.jpg") no-repeat center center/cover;
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .sale-4 {
      background: url("../img/showcase-small.jpg") no-repeat center center/cover;
      grid-row-start: 5;
      grid-row-end: 7;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .sale-5 {
      background: url("../img/showcase-small.jpg") no-repeat center center/cover;
      grid-row-start: 7;
      grid-row-end: 9;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .sale-6 {
      background: url("../img/showcase-big.jpg") no-repeat center center/cover;
      grid-row-start: 5;
      grid-row-end: 9;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .sale-3,
    .sale-6 {
      .header {
        justify-content: flex-start;
      }
    }
  }
  .sale-7 {
    width: 100%;
    height: 450px;
    border: none;
    margin-top: 1rem;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#news {
  width: 100%;
  h1 {
    text-align: center;
  }
  .container {
    overflow: hidden;
    position: relative;
  }
  .items-container {
    display: flex;
    position: relative;
    left: 0px;
    transition: all 0.7s ease;
    .item {
      display: flex;
      flex-direction: column;
      min-width: 235px;
      padding: 0.5rem;
      .photo {
        height: 250px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .disc {
        display: flex;
        .name {
          width: 70%;
          text-align: left;
          h3 {
            text-transform: initial;
          }
        }
        .price {
          width: 30%;
          text-align: right;
        }
      }
    }
  }
  .buttons {
    .next,
    .prev {
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: 20%;
      background: rgba(#fff, 0.6);
      border-radius: 50%;
      cursor: pointer;
      i {
        font-size: 2rem;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background: #fff;
      }
    }
    .next {
      right: 15px;
      bottom: 20%;
    }
    .prev {
      left: 10px;
    }
  }
}

#footer {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      padding: 0 1rem;
      h3,
      h5 {
        line-height: 1.6rem;
      }
      a:hover {
        opacity: 0.7;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      span {
        font-size: 1.6rem;
        font-style: italic;
      }
      i {
        font-size: 1.7rem;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
      .social-media {
        text-align: center;
      }
    }
  }
}

// Filters
#item-showcase {
  padding: 1rem;
  margin-bottom: 1.3rem;
  position: relative;
  .container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  #mobile-filter {
    display: none;
    width: 100%;
    background: #000;
    color: #fff;
  }
  .filters {
    width: 20%;
    .filter {
      display: flex;
      flex-direction: column;
      h4 {
        padding: 1rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      .filter-type {
        padding: 1rem;
        line-height: 1.5rem;
        .filter-list li label {
          padding: 0 0.5rem;
          cursor: pointer;
          user-select: none;
        }
        .filter-list input[type="checkbox"] {
          cursor: pointer;
        }
      }
      button {
        outline: none;
        cursor: pointer;
        text-align: right;
        padding-bottom: 0.5rem;
      }
      input[type="range"] {
        padding: 0.5rem 0;
      }
      .price-tags {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.5rem;
        #max-price {
          text-align: center;
          width: 30px;
          border: none;
          outline: none;
          font-size: 1rem;
        }
      }
    }
  }
  .items-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 3rem;
    position: relative;
    .no-items {
      padding: 1rem;
      color: black;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #ffe493;
    }
    .item {
      width: 290px;
      height: 400px;
      padding: 0 1.5rem;
      margin-bottom: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      .photo {
        width: 250px;
        max-height: 350px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .disc {
        display: flex;
        cursor: pointer;
        width: 250px;
        .name {
          width: 70%;
          text-align: left;
          h3 {
            text-transform: initial;
          }
        }
        .price {
          width: 30%;
          text-align: right;
          cursor: default;
        }
      }
      .add-btn {
        opacity: 0;
        transition: all 0.2s ease;
        position: absolute;
        bottom: -70px;
        width: 250px;
        padding: 0.5rem 0;
        background: #fff;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        cursor: initial;
        z-index: 1;
        .size-list {
          width: 50%;
          display: flex;
          justify-content: space-around;
          padding: 0.5rem 0;
          input[type="checkbox"],
          label {
            cursor: pointer;
          }
        }
        button {
          padding: 0.5rem;
          background: #000;
          color: #fff;
          transition: all 0.3s ease;
          cursor: pointer;
          float: right;
          &:hover {
            background: #2222ec;
          }
        }
        input[type="radio"] {
          cursor: pointer;
        }
      }
      &:hover {
        .add-btn {
          opacity: 1;
        }
      }
    }
  }
}

#errors {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 105;
  .no-size-error {
    padding: 1rem;
    background: red;
    color: #fff;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    backface-visibility: hidden;
  }
  .error {
    opacity: 1 !important;
  }
}

#cart {
  padding: 1rem;
  .cart-data {
    display: flex;
    .cart-items {
      width: 70%;
      .cart-header {
        width: 100%;
        padding: 1rem;
        text-align: center;
        background: #eee;
        border: 1px solid #333;
        font-size: 1rem;
      }
      .cart-item {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .photo {
          width: 12%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .disc {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          line-height: 1.5rem;
          p {
            font-weight: bold;
          }
          .details {
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            #item-price {
              display: none;
            }
          }
        }
        .amount {
          input[type="text"] {
            width: 40px;
            height: 40px;
            border: 1px solid #333;
            outline: none;
            text-align: center;
          }
          button {
            border: none;
            font-weight: bold;
            font-size: 1.5rem;
            background: none;
            padding: 0 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease;
            outline: none;
          }
          .add:hover {
            color: green;
          }
          .reduce:hover {
            color: red;
          }
        }
        .item-total {
          font-size: 1rem;
          font-weight: bold;
          width: 130px;
          span {
            padding: 0 0.1rem;
          }
        }
        .delete-icon i {
          font-size: 1.4rem;
          transition: all 0.2s ease;
          &:hover {
            color: red;
            cursor: pointer;
          }
        }
        &:first-of-type {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          margin-top: 20px;
        }
        &:last-child {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
  .cart-summary {
    width: 30%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    .summary-header {
      font-size: 1rem;
      padding: 1rem;
      background: #eee;
      border: 1px solid #333;
      text-align: center;
    }
    .summary {
      font-size: 0.8rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-top: none;
      .summary-disc {
        padding: 0.5rem 0;
        .price-disc {
          display: flex;
          justify-content: space-between;
          padding: 0.1rem 0;
        }
      }
      .total-amount {
        padding: 0.7rem 0;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1rem;
      }
      a {
        text-align: center;
        padding: 0.8rem;
        background: #000;
        color: #fff;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#single-item {
  padding: 2rem 0;
  .single-item {
    display: flex;
    padding-bottom: 1rem;

    .gallery {
      width: 10%;
      display: flex;
      flex-direction: column;
      max-height: 600px;
      overflow: hidden;
      img {
        width: 100px;
        height: 140px;
        padding: 0.5rem 0;
        cursor: pointer;
      }
    }
    .slider {
      width: 60%;
      display: flex;

      .arrow-left,
      .arrow-right {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        i {
          cursor: pointer;
        }
      }
      .photo {
        width: 70%;
        img {
          width: 100%;
          height: 100%;
          max-height: 600px;
          min-height: 600px;
        }
      }
    }
    .disc {
      width: 30%;
      max-width: 400px;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #fff;
      h1 {
        font-size: 1.4rem;
        text-transform: initial;
        padding-bottom: 1rem;
      }
      .rating-price {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        border-top: 1px solid #ccc;
        .stars {
          font-size: 1.4rem;
          display: flex;
          .star {
            width: 25px;
            height: 25px;
            position: relative;
            overflow: hidden;
            i {
              color: rgb(247, 201, 66);
            }
          }
        }
      }
      .sizes {
        padding: 2rem 0;
        display: flex;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        ul {
          display: flex;
        }
        li {
          padding: 0.2rem;
        }
        .label {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          background: #ccc;
          position: relative;
          &:hover {
            background: #000;
            color: #fff;
          }
          input[type="radio"] {
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            cursor: pointer;
          }
          label {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    .amount {
      display: flex;
      padding: 2rem 0;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ccc;
      .add,
      .reduce {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 1rem;
        cursor: pointer;
        outline: none;
        user-select: none;
      }
      .add:hover {
        color: green;
      }
      .reduce:hover {
        color: red;
      }
      input[type="text"] {
        width: 40px;
        height: 40px;
        text-align: center;
        outline: none;
        border: 1px solid #000;
      }
    }
    .btn-add {
      padding: 2rem 0;

      button {
        padding: 1rem 0;
        background: #000;
        color: #fff;
        width: 100%;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .item-disc {
    width: 70%;
    padding: 1rem;
    border-top: 1px solid #ccc;
    h3 {
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  #main-header {
    height: auto;
    border: none;
    .header-wrapper {
      flex-direction: column;
      .menu-basket {
        width: 100%;
        justify-content: flex-end;
        position: relative;
        z-index: 20;
        background: #fff;
        height: 10vh;
        .burger {
          display: initial;
        }
        .toggle {
          .line-1 {
            transform: rotate(-45deg) translate(-10px, 8px);
          }
          .line-2 {
            opacity: 0;
          }
          .line-3 {
            transform: rotate(45deg) translate(-10px, -8px);
          }
        }
        .link-wrapper {
          .header-discription-element {
            display: none;
          }
          .items-count {
            right: 5px !important;
          }
          &:hover {
            .cart,
            &:hover::after {
              display: none;
            }
          }
        }
      }
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    }
  }

  #menu {
    display: none;
  }

  .toogle-menu {
    transform: translateX(0%) !important;
  }
  .triangle {
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid black;
      position: absolute;
      bottom: 0;
      left: 1.7rem;
    }
  }
  #mobile-menu {
    display: block;
  }

  #slider {
    margin-top: 0;
    .prev-slide,
    .next-slide {
      display: none;
    }
  }

  #showcase {
    .showcase-content {
      grid-template-rows: repeat(16, 25vh);
      .sale {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .sale-3 {
        grid-row-start: 5;
        grid-row-end: 9;
      }
      .sale-4 {
        grid-row-start: 9;
        grid-row-end: 11;
      }
      .sale-5 {
        grid-row-start: 11;
        grid-row-end: 13;
      }
      .sale-6 {
        grid-row-start: 13;
        grid-row-end: 17;
      }
    }
    .sale-7 {
      height: 200px;
    }
  }
  #news {
    max-width: 100vw;
    .item {
      min-width: 100% !important;
      .photo {
        height: 300px !important;
      }
    }
  }
  #footer {
    div:not(.social-media) {
      padding: 1rem;
      width: 100%;
    }
    .social-media {
      text-align: left !important;
      padding-top: 1rem;
    }
  }

  #item-showcase {
    .container {
      flex-direction: column;
      #mobile-filter {
        display: block;
        padding: 0.5rem;
      }
      .filters {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 1rem;
        .filter {
          #filter-btn {
            width: 100%;
            padding: 0.5rem 1rem;
            background: #666;
            color: #fff;
            text-align: center;
          }
        }
      }
      .items-container {
        width: 100%;
        padding: 0;
        left: 0;
        .item {
          width: 50%;
          height: auto;
          .photo {
            width: 100%;
          }
          .disc {
            width: 100%;
            h3 {
              font-size: 0.7rem;
            }
          }
          .add-btn {
            display: none;
          }
        }
      }
    }
  }
  #cart {
    .cart-data {
      display: flex;
      flex-direction: column;
      .cart-summary {
        order: -1;
        width: 100%;
        padding: 0;
      }
      .cart-items {
        width: 100% !important;
        padding: 1rem 0;
        .cart-item {
          flex-wrap: wrap;
          .photo {
            width: 50%;
            padding: 0.5rem;
          }
          .disc {
            width: 50%;
            .details {
              #item-price {
                display: block;
              }
            }
          }
          .price {
            display: none;
          }
        }
      }
    }
  }
  #single-item {
    .single-item {
      padding: 0;
      flex-direction: column;
      .gallery {
        display: none;
      }
      .slider,
      .disc {
        width: 100%;
        padding: 0;
      }
      .disc {
        padding: 1rem;
      }
      .slider {
        position: relative;
        .arrow-left,
        .arrow-right {
          position: absolute;
          bottom: 5%;
          font-size: 2rem;
          width: 40px;
          height: 40px !important;
          height: auto;
          background: #000;
          border-radius: 50%;
          i {
            color: #fff !important;
          }
        }
        .arrow-left {
          left: 5px;
        }
        .arrow-right {
          right: 5px;
        }
        .photo {
          width: 100%;
          padding: 0 1rem;
        }
      }
    }
    .item-disc {
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  #main-header {
    .header-wrapper {
      padding: 2rem 0;
      .menu-basket {
        height: auto;
      }
    }
    #mobile-menu {
      top: 59px;
      z-index: 100;
      .list {
        overflow: auto;
      }
    }
  }

  #item-showcase {
    .container {
      .items-container {
        .item {
          height: 400px;
        }
      }
    }
  }
  #single-item {
    .single-item .disc {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #main-header {
    .header-wrapper {
      .menu-basket {
        height: auto;
        padding: 1rem;
      }
      .burger {
        left: 30px;
        top: 25px;
      }
    }
  }
  #mobile-menu {
    top: 91px;
    height: calc(100vh - 91px);
    z-index: 100;
    .list {
      overflow: auto;
    }
  }
  #cart .cart-data .cart-items .cart-item {
    .photo {
      height: 300px;
      width: 200px;
    }
    .disc {
      width: auto;
    }
  }
  #news {
    .items-container {
      .item {
        width: 50%;
        min-width: 50% !important;
      }
    }
  }
  #showcase .sale-7 {
    height: 400px;
  }
  #footer .container div {
    width: auto;
  }
  #item-showcase {
    .container {
      .items-container {
        .item {
          height: 400px;
        }
      }
    }
  }
  #single-item {
    .single-item .disc {
      margin: 0 auto;
    }
    .single-item {
      flex-direction: row;
    }
  }
}
