@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Solway', sans-serif;
  line-height: 1.5;
}

ul {
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: $light-color;
  text-transform: uppercase;
}

.primary {
  background: red !important;
}

.container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}
.active {
  color: $supp-color;
  transition: all .4s ease;
  &:hover {
    color: $light-color;
  }
}

#navbar {
  width: 100%;
  height: 10vh;
  padding: 0 1.3rem;
  z-index: 99;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba($color: $dark-color, $alpha: .9);
  .logo {
    width: 350px;
    height: 100%;
    background: url('../img/default.png') no-repeat center center/cover;
    a{
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }
  .burger {
    display: none;
    div {
      transition: all 0.5s ease-in-out;
    }
    .line-1, .line-2, .line-3 {
      width: 30px;
      height: 5px;
      padding: 0 10px;
      background: #fff;
      margin-top: 5px;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    font-family: "Russo One", sans-serif;
    li {
      height: 100%;
      position: relative;
      font-size: 1.1rem;
      margin: 0;
      z-index: 0;
      a{
        padding: 1.9rem 1.5rem; 
        display: block; 
        position: relative; 
        background: transparent;
        z-index: 2;
        font-style: italic;
      }
      &:hover:after {
        background: $supp-color;
        opacity: 1; 
        width: 100%;
        left: 0;
        right: 2;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 50%;
        opacity:0;
        transform: skew(-15deg);
        transition: all .3s ease-in;
        width: 0;
        z-index: 1;
      }
    }
  }
}

#showcase {
  height: 70vh;
  width: 100%;
  position: relative;
  .showcase-content {
    width: 100%;
    height: 100%;
    display: none;
  }
  .slide-1 {
    background: url('../img/header-bg-1.jpg') no-repeat center center/cover; 
    width: 100%;
    height: 100%; 
  }
  .slide-2 {
    background: url('../img/header-bg-2.jpg') no-repeat center center/cover;
  }
  
  .next, .prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    color: $light-color;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s ease;
    user-select: none;
  }
  .next {
    right: 0;
  }
  .next:hover, .prev:hover {
    background: rgba($supp-color, 0.9);
    color: $light-color;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 3s;
  }
}

#offert{
  width: 100%;
  padding-bottom: 1rem;
  .offert-container {
    display: flex;
    width: 100%;
    a{
      flex: 1;
      height: 430px;
    }
    .offert {
      display: inline-block;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
      }
      .overlay {
        background: rgba($color: $dark-color, $alpha: .4);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        &::after{
          content: "";
          display: inline-block;
          padding-right: 3px;
          vertical-align: middle;
          font-weight: 900;
          position: absolute;
          bottom: -100px;
          right: -110px;
          width: 200px;
          height: 200px;
          background: $supp-color;
          color: $light-color;
          transform: skewX(-44.5deg);
          transition: all .3s ease-in;
        }
        &:hover::after {
          width: 100%;
          height: 201%;
          right: -50%;
          bottom: -51%;
          opacity: 0.6;
        }
        &:hover i {
          font-size: 10rem;
          bottom: 50px;
          color: rgba($color: $dark-color, $alpha: 0.3);
        }
        h1 , h2{
          position: absolute;
          left:-300px;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 54px;
          font-style: italic;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-family: "Russo One", Times, serif;
          line-height: 1;
          z-index: 3;
          transition: all .5s ease;
          display: inline-block;
          color: $dark-color;
          opacity: 0;
        }
        h2 {
          font-size: 40px;
        }
        &:hover {
          background: rgba($color: $supp-color, $alpha: .7);
          z-index: 3;
          h1, h2{
            left: 50%;
            opacity: 1;
          }
          h2 {top: 35%;}
        }
        i {
          position: absolute;
          display: inline-block;
          font-size: 2rem;
          right: 5px;
          bottom: 5px;
          z-index: 1;
          transition: all .3s ease-in;
        }
      }
    }
    .offert-3 {
      h2 {
        top: 30% !important;
      } 
    }
  }
}

#about {
  display: flex;
  padding: 2rem 1rem 0 0;
  div {flex: 1;}
  .photo {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .disc {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    div {
      position: relative;
      padding: 0 24px;
      p {
        margin: 1rem 0;
        color: rgba($color: $dark-color, $alpha: .7);
      }
      a {
        padding: 1rem;
        background: $grey-color;
        color: $dark-color;
        border-radius: 5px;
        position: absolute;
        right: 0;
        transform: translate(-20%, -20%);
        box-shadow: 0 4px 8px 0 $dark-color;
        &:hover {
          color: $light-color;
          background: $supp-color;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

#whatIDo {
  padding: 5rem 1rem 4rem 1rem;
  background: url('../img/whatIDo-bg.jpg') no-repeat center center/cover;
  margin-top: -10px;
  color: $light-color; 
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Russo One", sans-serif;
    font-size: 2rem;
    font-style: italic;
  }
  hr {
    width: 120px;
    margin: 0 auto;
    background: $supp-color;
    border: none;
    height: 7px;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 1rem 0;
    padding: 0 2rem;
    height: 500px;
    .box{
      flex: 1;
    }
    .slider{display: none;}
    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 3rem;
      height: 100%;
      h2 {
        text-transform: uppercase;
        font-family: "Russo One", sans-serif;
      }
      div{
        display: flex;
        padding: 1rem;
        height: 50%;
        .icon {
          margin-top: 10px;
          border: 3px solid $light-color;
          width: 150px;
          height: 80px;
          position: relative;
          box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0);
          transition: all 0.5s ease;
          &:hover {
            transform: rotateY(180deg);
          }
          i {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover {
            background: $supp-color;
            color: $light-color;
            border: none;
            box-shadow: 0px 0px 0px 10px rgba($color: $grey-color, $alpha: .15);
            animation: beat .5s;
          }
        }
        .content {
          min-width: 300px;
          display: flex;
          flex-direction: column;
          padding: 0 1rem;
          p {color: $grey-color;}
        }
      }  
    }
  }
}

#plans {
  padding: 4rem 0 4rem 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  .plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 4rem;
    .plan {
      flex: 1;
      margin: 10px 10px 20px 0;
      border-top: none;
      transition: all 0.4s ease;
      position: relative;
      min-width: 300px;
      .photo{
        height: 200px;
        width: 100%;
        position: relative;
        transition: all 0.4s ease;
        .header{
          background: rgba($color: $dark-color, $alpha: .6);
          color: $light-color;
          position:absolute;
          z-index: 1;
          width: 100%;
          text-transform: uppercase;
          margin-left: 1px;
          h1 {
            padding: .5rem;
            text-align: center;
          }
        }
        img{
          width: 100%;
          height: 100%;
          position: relative;
          margin-left: 1px;
        }
      }
      ul{
        border-bottom: none;
        padding: 0 .1rem;
      }
      ul li{
        padding: .3rem;
        font-size: .9rem;
        &:nth-child(even){
          background: #f5f5f5;
        }
        &:nth-child(odd) {
          background: #ebebeb;
        }
        i{
          padding: .3rem;
        }
      }
      .price {
        padding: 1rem 2.3rem;
        position: relative;
        transition: all 0.3s ease;
        top: 0;
        border-top: none;
        .price-data {
          display: flex;
          flex-direction: column;
          h4, h1, a  {
            text-align: center;
            margin-bottom: 5px;
          }
          h4 {
            text-decoration: line-through;
            color: red;
            font-weight: 100;
          }
          h1 {
            font-size: 2rem;
            font-weight: 900;
            font-family: "Russo One",sans-serif;
          }
          a {
            padding: .4rem;
            background: $supp-color;
            color: $light-color;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            &:hover {
              opacity: .6;
            }
          }
        }
      }
        &:hover {
          .photo{
           margin-top: -35px;
         }
         .price {
           top: 35px;
         }
       }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid $dark-color;
        transition: all .4s ease;
        z-index: -1;
        box-sizing: content-box !important;
      }
      &:hover::after {
        height: 110%;
        top: -35px;
      }
    }
  }
}

 .picked {
    &::after{
      height: 110% !important;
      top: -35px !important;     
    }
    .photo{
      margin-top: -35px;
    }
    .price {
      top: 35px !important;
    }
 }


#ppl-changes {
  padding: 2rem;
  background: #333;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
    color: $light-color;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    font-style: italic;
  }
  h2{
    text-align: center;
    color: $dark-color;
  }
  a {
    background: $grey-color;
    padding: 1rem;
    color: $dark-color;
    border-radius: 5px;
    transition: all .3s ease;
    &:hover {
      color: $light-color;
      background: $supp-color;
    }
    }
  .changes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .wrapper {
      padding: 2rem 30px;
      width: 33.3%;
      min-width: 300px;
      position: relative;
      .change{
        padding: 20px 30px;;
        background: $light-color;
        position: relative;
        box-shadow: 0 8px 16px 0 $dark-color;
        border-radius: 5px;
        .photo {
          width: 100%;
          height: 200px;
          margin-bottom: 2rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            transition: all .3s ease;
            &:hover{
              transform: scale(1.3);
            }
          }
        }
        .discription {
          margin-bottom: 3rem;
          h3 {
            padding: .2rem;
            font-size: .9rem;
            i {
              padding: .2rem;
            }
          }
        }
        .sub-data {
          position: absolute;
          width: 70px;
          height: 50px;
          top: 0;
          right: 0;
          background: red;
          z-index: 2;
          color: $light-color;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Russo One", sans-serif;
          font-size: 1.2rem;
          font-style: italic;
          z-index: 2;
        }
      }
    }
  }
}

#main-footer {
  display: flex;
  flex-wrap: wrap;
  background: $dark-color;
  .instagram, .questions, .social-media {
    flex: 1;
    width: 33,3333333%;
    min-width: 300px;
    min-height: 300px;
    padding: 2rem 1rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $light-color;
    h2{
      color: $supp-color;
      font-family: "Russo One", sans-serif;
      font-style: italic;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  .inst-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      width: 90px;
      height: 90px;
      padding: 0.1rem;
      margin: 0.1rem;
    }
  }
  .questions {
    display: flex;
    a {
      padding: 1rem 3rem;
      color: $dark-color;
      background: $grey-color;
      margin-top: 1rem;
      border-radius: 3px;
      transition: all 0.4s ease;
      display: block;
      &:hover {
        opacity: 0.7;
        img{
          transform: scale(1.2);
        }
      }
    }
  }
  .social-media {
    display: flex;
    .social-icons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $grey-color;
      a {
        margin-top: 1rem;
        position: relative; 
        display: block;
        width: 70px;
        height: 70px;
        text-align: center;
        line-height: 63px;
        background: #333;
        border-radius: 50%;
        font-size: 20px;
        color: #666;
        transition: .5s;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: $supp-color;
          transition: .5s;
          transform: scale(.9);
          z-index: -1;
        }
        &:hover::before {
          transform: scale(1.4);
          box-shadow: 0 0 15px $supp-color;
        }
        &:hover {
          color: $supp-color;
          box-shadow: 0 0 15px $supp-color;
          border: 5px solid $supp-color;;
          text-shadow: 0 0 15px $supp-color;;
        }
      }
    }
  }
}

// About Me subpage //

.section-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-around;
  div {
    padding: 3rem 2rem;
  }
}

.animate {
  animation: 1s slider ease;
  visibility: initial !important;
}
.photo-animate {
  animation: 1s photo-right ease, 2s fade ease;
  visibility: visible !important;
}

#sub-page-showcase {
  height: 50vh;
  background: url('../img/offer-1.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  .showcase-content {
    background: rgba($color: $dark-color, $alpha: .5);
    width: 100%;
    height: 100%;
    .container {
      position: relative;
    }
    h1 {
      font-size: 60px;
      font-family: "Russo One", sans-serif;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $light-color;
      position: absolute;
      top: 50%;
      left: 0;
      transition: all 0.4s ease;
      transform: translate(0,-50%);
    }
    hr {
      width: 180px;
      height: 5px;
      border: none;
      background: $grey-color;
      position: absolute;
      top: 65%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

#my-start {
  .section-content {
    .text {
      width: 66%;
      visibility: hidden;
      min-width: 400px;
      font-family: "Montserrat", sans-serif;
      h2{
        font-size: 30px;
        font-family: "Russo One", sans-serif;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p {
        margin-bottom: 20px;
        line-height: 1.5;
      }
    }
    .photo{
      width: 33%;
      visibility: hidden;
      min-height: 300px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

#first-tournament {
  background: url('../img/offer-1.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  .section-content {
    width: 100%;
    height: 100%;
    background: rgba($color: $dark-color, $alpha: .4);
  }
  h2 {
    font-size: 30px;
    font-family: "Russo One", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $light-color;
  }
  .text {
    width: 70%;
    visibility: hidden;
    float: right;
    color: $grey-color;
    font-family: "Montserrat", sans-serif;
    p {
      margin: 1rem 0;
    }
  }
}

#me-today {
  .photo, .text {
    width: 49.5%;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    h2 {
      font-size: 30px;
      font-family: "Russo One", sans-serif;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .bold {
      font-weight: bold;
    }
  }
  .photo  {
    min-height: 600px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}


// My Offert subpage
.icons-animation {
  animation: 1s popUp ease;
  visibility: visible !important;
}

#one-page {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 2;
  }
  .what-i-offer {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    .my-offert {
      width: 49%;
      padding: 1rem;
      min-width: 400px;
      display: inline-block;
      h1 {
        font-family: "Russo One", sans-serif;
        font-size: 1.7rem;
        font-style: italic;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: .5rem;
      }
      hr {
        width: 100px;
        height: 6px;
        border: none;
        margin-bottom: 2rem;
        background: $supp-color;
      }
      ul {
        padding: 1rem 2rem;
        list-style: initial;
        font-size: 13px;
        li {
          margin: 10px 0;
          font-family: "Montserrat", sans-serif;
        }
      }
      .photo {
        width: 100%;
        height: auto;
        img {
          width: 100%; height: 100%;
        }
      }
    }
  }
  .plans-container {
    padding: 0;
  }
  #icons {
    h1 {
      font-family: "Russo One", sans-serif;
      font-size: 45px;
      text-align: center;
      font-weight: 100;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    hr {
      margin-left: 50%;
      transform: translate(-50%, 0%);
      width: 140px;
      height: 7px;
      background: $supp-color;
      border: none;
      margin-bottom: 1rem;
    }
    .icons-container {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0;
      position: relative;
      .content {
        width: 33.33%;
        padding: 1rem;
        h2{
          font-size: 20px;
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 10px;
        }
        .icon {
          margin-left: 50%;
          transform: translate(-50%, 0);
          width: 90px;
          height: 90px;
          color: $light-color;
          background: $supp-color;
          position: relative;
          margin-bottom: 40px;
          border-radius: 8px;
          visibility: hidden;
          i {
            position: absolute;
            font-size: 2.5rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
        }
      }
    }
  }
}

#opinions {
  padding: 4rem 0;
  font-family: "Montserrat", sans-serif;
  .opinion {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    .text-bubble {
      border: 1px solid $grey-color;
      box-shadow: 2px 2px 4px #ccc;
      padding: 1rem 2rem;
      position: relative;
      &::after {
        bottom: -30px;
        box-sizing: border-box;
        content: '';
        display: block;
        left: 80px;
        position: absolute;
        filter: drop-shadow(rgba(0, 0, 0, 0.0980392) 2px 2px 1px);
        border-top: 30px solid rgb(255, 255, 255);
        border-right: 30px solid rgba(0, 0, 0, 0);
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
      }
      p::before {
        display: block;
        font-size: 4rem;
        color: $grey-color;
        position: absolute;
        content: open-quote;
        left: 5px;
        top: -5px;
      }
      p::after {
        content: close-quote;
        visibility: hidden;
      }
    }
    .person {
      display: flex;
      margin-top: 20px;
      align-items: center;
      .photo {
        width: 95px;
        height: 90px;
        padding: 10px;
        background: #fff;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .disc {
        font-size: 12px;
        font-weight: 100;
      }
    }
  }
}

#ppl-changes {
  .facebook {
    width: 100%;
    height: 400px;
    background: url('../img/offer-1.jpg') center/cover no-repeat;
    div {
      width: 100%;
      height: 100%;
      background: rgba($color: $supp-color, $alpha: .8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1, h2 {
        z-index: 2;
      }
      h2 {
        color: #fff;
        font-style: italic;
        font-size: 15px;
        margin-bottom: 20px;
      }
      a {
        color: $light-color;
        background: #333;
        z-index: 4;
      }
      a:hover {
        background: $dark-color;
      }
    }
  } 
}
#contact {
  padding: 2rem;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info{
    width: 50%;
  }
  h1 {
    font-family: "Russo One", sans-serif;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
  }
  hr {
    width: 90px;
    height: 5px;
    background: $supp-color;
    border: none;
    margin: 20px 0;
  }
  p {
    margin: 20px 0;
  }
  .contact-disc {
    display: flex;
    .icon {
      margin-top: 10px;
      margin-bottom: 20px;
      border: 3px solid $light-color;
      width: 80px;
      height: 80px;
      position: relative;
      box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0);
      border: 4px solid $supp-color;
      color: $supp-color;
      transition: all 0.5s ease;
      &:hover {
        transform: rotateY(180deg);
      }
      i {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background: $supp-color;
        color: $light-color;
        border: none;
        box-shadow: 0px 0px 0px 10px rgba($color: $grey-color, $alpha: .35);
        animation: beat .5s;
      }
    }
    .info {
      width: 250px;
      margin-left: 20px;
      h1 {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Russo One", sans-serif;
        font-style: italic;
        font-weight: 100;
      }
      h2 {
        font-size: 14px;
        font-weight: 100;
        color: rgb(129, 128, 128);
      }
    }
  }
  label {
    width: 100%;
    padding: 10px 0;
    display: block;
  }
  form {
    width: 50%;
    padding: 0 2rem;
    input[type="text"], input[type="email"], textarea {
      width: 100%;
      padding: 10px 10px;
      background: #eee;
      border: none;
    }
    button {
      background: $dark-color;
      color: $supp-color;
      padding: 1rem 2rem;
      margin-top: 20px;
      border: none;
      text-transform: uppercase;
      font-family: "Russo One", sans-serif;
      font-style: italic;
      transition: all .3s ease;
      &:hover {
        color: $dark-color;
        background: $supp-color;
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  #navbar {
    justify-content: space-around;
    position: fixed;
    top: 0;
    .logo {
      display: inline-block !important;
      background-size: contain !important;
    }
    ul {
      flex-direction: column;
      position: absolute;
      top: 10vh;
      right: 0;
      width: 60%;
      height: 90vh;
      background: rgba($color: #333, $alpha:1 );
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      overflow: auto;
    }
    .active {
      transform: translateX(0%);
    } 
    .toggle{
      .line-1 {transform: rotate(-45deg) translate(-7px, 8px);}
      .line-2 {opacity: 0;}
      .line-3 {transform: rotate(45deg) translate(-5px, -7px);}
    }
    .burger {
      display: initial;
    }
  }
  #showcase, #offert {
    display: none;
  }
  #about {
    flex-direction: column;
    margin-top: 10vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6rem;
    div {
      width: 100%;
    }
    .photo{
      padding: 0 1rem;
    }
    .disc div {
      a {
        position: relative;      
      }
    }
  }
  #whatIDo{
    .box-container{
      padding: 0;
      flex-direction: column;
      height: auto;
      .slider{
        display: none !important;
      }
      .box {
        margin-bottom: 0;
      }
      .box a div .content p {
        display: none;
      }
      .icon {
        width: 30% !important;
        order: -1;
      }
      .content {
        width: 70% !important;
        min-width: 0 !important;
        h2 {
          text-align: left;
        }
      }
    }
    
  }

  #sub-page-showcase {
    background-position: center center;
    margin-top: 0;
    h1, hr {
      left: 50% !important; 
      transform: translate(-50%, -50%) !important;
      font-size: 40px !important;
      margin-bottom: 10px;
    }
  }
  #my-start {
    .section-content {
      .photo {
        padding: 0 1rem 1rem 1rem;
        width: 100%;
      }
      .text {
        padding-bottom: 0;
      }
    }
  }
  #first-tournament {
    background-position: center center;
    .section-content {
      .text {
        width: 100%;
        text-align: center;
      }
    }
  }
  #me-today {
    .photo, .text {
      width: 100%;
    }
  }

  #one-page {
    p{
      padding: 1rem;
    }
    .what-i-offer {
      width: 100%;
      margin: 0;
      .my-offert {
        width: 100%;
        padding: 0;
        min-width: auto;
        p {
          padding: 0 1rem 0 1rem;
        }
        h1 {
          text-align: center;
        }
        hr {
          margin-left: 50%;
          transform: translate(-50%, 0%);
        }
      }
    }
    #icons {
      h1 {
        font-size: 35px;
      }
      .icons-container{
        .content {
          width: 100%;
        }
      }
    }
  }
  #contact {
    .contact-info, form {
      width: 100%;
    }
    form {
      padding: 0;
    }
  }
}




// Animations 
@keyframes beat {
  0% {box-shadow: 0px 0px 0px 0px rgba($color: $grey-color, $alpha: .15);}
  20% {box-shadow: 0px 0px 0px 3px rgba($color: $grey-color, $alpha: .15);}
  40%{box-shadow: 0px 0px 0px 7px rgba($color: $grey-color, $alpha: .15);}
  60%{box-shadow: 0px 0px 0px 10px rgba($color: $grey-color, $alpha: .15);}
  80%{box-shadow: 0px 0px 0px 20px rgba($color: $grey-color, $alpha: .1);}
  100%{box-shadow: 0px 0px 0px 25px rgba($color: $grey-color, $alpha: 0);}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes slider {
  from {margin-left: -50%;}
  to {margin-left: 0;}
}

@keyframes photo-right {
  from {margin-left: 50%;}
  to {margin-left: 0;}
}

@keyframes popUp {
  0% {top: 100%;}
  50% {top: -5%;}
  75% {top: 5%;}
  100% {top: 0%;}
}